<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Multiselect Dropdown</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#4e3f5c">
        <link rel="shortcut icon" sizes="196x196" href="">

        <link rel="stylesheet" type="text/css" href="css/app.css" />
    </head>
    <body data-ng-app="app" data-ng-controller="MainCtrl as vm">
        <header class="title-nav">AngularJS Multiselect Dropdown Demo</header>

            <div class="example-container">

                <multiselect-dropdown
                    header="vm.headerText"
                    option-data="vm.originHeaders"
                    selected-events="vm.originSelectCallback1">
                </multiselect-dropdown>
                <div class="data-div">Selections: {{vm.values1 || []}}</div>

                <multiselect-dropdown
                    header="vm.headerText3"
                    option-data="vm.originHeaders"
                    single-select="true"
                    is-searchable="true"
                    selected-events="vm.originSelectCallback3">
                </multiselect-dropdown>
                <div class="data-div">Selection: {{vm.values3 || []}}</div>

                <multiselect-dropdown
                    header="vm.headerText2"
                    option-data="vm.originHeaders2"
                    selected-values="vm.selected"
                    is-searchable="true"
                    selected-events="vm.originSelectCallback2">
                </multiselect-dropdown>
                <div class="data-div">Selections: {{vm.values2 || []}}</div>

                <button ng-click="vm.makeSelection()" class="button">Select 2 Items</button>

                <button ng-click="vm.resetDefaultSelection()" class="button">Empty Selection</button>
            </div>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="../dist/multiselect.directive.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>